./venv
/venv
venv

./.idea
/.idea
.idea
./.idea/
/.idea/
.idea/

./__pycache__/
.__pycache__/
__pycache__/
./__pycache__
.__pycache__
__pycache__




./save
/save
save

./disnake_bot/config.py
/disnake_bot/config.py
disnake_bot/config.py

./test__bot
/test__bot
test__bot

tests.py