./venv
/venv
venv

./.idea
/.idea
.idea
./.idea/
/.idea/
.idea/

./__pycache__/
.__pycache__/
__pycache__/
./__pycache__
.__pycache__
__pycache__


.env
./.env

./save
/save
save

./app.log
app.log

./app/ds_config.py
/app/ds_config.py
app/ds_config.py


./disnake_bot/config.py
/disnake_bot/config.py
disnake_bot/config.py

./test__bot
/test__bot
test__bot

./app/db
/app/db
app/db

tests.py