{% extends "base.html" %}


{% block css_connect %}
<link href="/static/css/auth/select_auth_type.css" rel="stylesheet">
<link href="/static/css/auth/auth.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/static/js/toast.js"></script>
<script src="/static/js/toasts.js"></script>
<link href="/static/css/create/toast.css" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="auth_content">

    <div class="auth_block add_padding">
        <p>Для подтверждения аккаунта перейдите в телеграм бота по ссылке: </p>
        <a target="_blank" class="block_link" href="https://t.me/SomethinKAuthBot">https://t.me/SomethinKAuthBot</a>
        <p>и отправьте ему данный код:</p>
        <div class="code_row">
            <p>{{ code }}</p>
            <button id="copy_button" class="copy-link-button">
            <span class="material-icons">content_copy</span>
            </button>
        </div>

        <p style="font-size: 1vw">Код будет действителен в течение 10 минут</p>
    </div>

</div>

<script>
    let copy_button = document.getElementById("copy_button")

    copy_button.addEventListener("click", function () {
        navigator.clipboard.writeText("{{ code }}")
        successText("Код скопирован")
    })
</script>

{% endblock %}

