<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Для подтверждения аккаунта перейдите в телеграмм бота по ссылке: <a href="https://t.me/SomethinKAuthBot">https://t.me/SomethinKAuthBot</a>
    и отправить ему данный код: {{ code }}
    <button>копировать</button>
</body>

</html>