{% extends "base.html" %}

{% block content %}

<form action="" method="post" class="register_form_class">
    {{ form.hidden_tag() }}

    {{ form.email(class="form-control", type="email", placeholder="Email", style="height: 20px, width:
    210px") }}<br>
    {% for error in form.email.errors %}
    {% endfor %}
    {{ form.password(class="form-control", type="password", placeholder="Password", style="height: 20px, width:
    210px") }}
    {% for error in form.password.errors %}
    {% endfor %}
    {{ form.submit(type="submit", class="btn_btn-primary") }}
    <div>{{ message }}</div>
</form>
{% endblock %}