{% extends 'base.html' %}

{% block css_connect %}
<link href="/app/static/css/create/toast.css" rel="stylesheet">
<link href="/static/css/main/index.css" rel="stylesheet">
<script src="/app/static/js/toast.js"></script>
{% endblock %}

{% block title %}SomethinK | policy{% endblock %}

{% block content %}
<div class="section_content">
    <h1 class="policy_header">Политика использования куки файлов</h1>

    <div class="policy policy_text">
        <div>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '><br>
<br>
1. ДЛЯ ЧЕГО НУЖНА ПОЛИТИКА?</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt; '>1.1. Общие положения</span></b>
            </p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Условия настоящей Политики использования
куки файлов (далее &quot;<b>Политика</b>&quot;) распространяются на Сайт.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Целью настоящей Политики является <b>(1)</b>
проинформировать о перечне используемых и автоматически загружаемых на
устройство Пользователя Файлов куки; и <b>(2)</b> уведомить о целях установки и
использования таких Файлов куки, а также сроков их хранения/установки на
устройстве Пользователя; и <b>(3)</b> информировать Пользователя о способах
отключения Файлов куки и/или их удаления с устройства.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Каждый Пользователь имеет право
ознакомиться с текстом настоящей Политики по следующей ссылке:
https://somethinkbots.ru/cookie_privacy.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Сведения, указанные в настоящем документе,
являются неотъемлемой частью Политики конфиденциальности веб-сайта, с которой
Пользователь может ознакомиться по следующей ссылке:
https://somethinkbots.ru/privacy.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Если у Пользователя возникли какие-либо
вопросы к настоящей Политике и/или к работе Файлов куки, Пользователь может
адресовать свой вопрос Правообладателю в следующий способ:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><i><span
                    lang=RU style='font-size:12.0pt; '>направить соответствующий
письменный запрос на следующий электронный адрес:<span style='mso-tab-count:
1'> </span>&nbsp;<br>
somethinkbots@gmail.com</span></i></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Если Пользователь не согласен и/или ему не
понятны некоторые из условий данной Политики, он обязан немедленно прекратить
пользование Сайтом.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt; '>1.2. Определение понятий</span></b>
            </p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>&quot;<b>Файлы куки</b>&quot; означает
преимущественно небольшие фрагменты данных, которые хранятся на компьютере,
планшете, мобильном телефоне или другом устройстве Пользователя и позволяют
записывать определенную информацию при любом посещении Сайта, взаимодействии со
службами, приложениями, инструментами, а также отправке и получении сообщений,
с целью идентификации Пользователя независимо от используемого им устройства.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>&quot;<b>Пользователь</b>&quot; означает
юридическое или физическое лицо, которое пользуется Сайтом и/или получило к
нему доступ.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>&quot;<b>Правообладатель</b>&quot;
означает следующее лицо, на имя которого зарегистрирован Сайт:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><i><span
                    lang=RU style='font-size:12.0pt; '>Глазунов Павел Сергеевич<span
                    style='mso-tab-count:1'> </span>&nbsp;<br>
Адрес: г. Москва<span style='mso-tab-count:1'>       </span>&nbsp;<br>
Контактные данные: somethinkbots@gmail.com</span></i></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>&quot;<b>Сайт</b>&quot; означает
информационную единицу в Интернете, ресурс из веб-страниц (документов), которые
объединены общей темой и связаны друг с другом с помощью ссылок. Сайт
зарегистрирован на Правообладателя и обязательно привязан к конкретному домену,
являющемуся его адресом. Настоящая Политика разработана для следующего сайта:
https://somethinkbots.ru.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '><br>
<br>
2. ДЛЯ ЧЕГО ИСПОЛЬЗУЮТСЯ ФАЙЛЫ КУКИ?</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt; '>2.1. Цели использования</span></b>
            </p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Правообладатель использует Файлы куки для
достижения следующих целей:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(1)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> для сохранения информации о Пользователе
на время использования им Сайта.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(2)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> для работы отдельных разделов/страниц
Сайта (где использование Файлов куки является крайне необходимым).</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(3)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> для улучшения юзабилити Сайта и навигации
по нему.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(4)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> для улучшения взаимодействия Сайта и
Пользователей.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(5)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> для повышения качества обслуживания и
обеспечения максимального удобства и комфорта Пользователей при использовании
Сайта.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt; '>2.2. Виды собираемой информации</span></b>
            </p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Правообладатель не использует Файлы куки
для идентификации Пользователей, а исключительно для определения способов
использования Сайта Пользователями.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Через Файлы куки Правообладатель может
собирать следующею информацию о Пользователях:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(1)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> IP адрес, тип браузера и устройства, с
котором выполняется вход на Сайт; и</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(2)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> операционная система и данные об Интернет
провайдере; и</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(3)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> информация о стране, из которой
выполняется вход; и</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(4)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> дата и время посещения Сайта, а также
возможное количество совершенных кликов Пользователем.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '><br>
<br>
3. КАКИЕ ФАЙЛЫ КУКИ ИСПОЛЬЗУЮТСЯ?</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Согласно общепринятым классификациям, на
данный момент существуют следующие виды Файлов куки:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(1)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> <i>Технические файлы куки</i>. Они
являются необходимыми для бесперебойного и надежного функционирования Сайта.
Отключение данного типа Файлов куки может привести к ограничению Пользователя в
доступе к определенным функциональным возможностям Сайта.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(2)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> <i>Сессионные файлы куки</i>. Они являются
временными и сохраняют информацию о совершенной Пользователем активности в
браузере в течение одной сессии (т.е. до момента закрытия такого браузера
Пользователем).</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Сайт в работе использует следующие Файлы
куки, принадлежащие Правообладателю:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><i><span
                    lang=RU style='font-size:12.0pt; '>session - хранение сессии
пользователя в течение 7 дней</span></i></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '><br>
<br>
4. КАК УДАЛИТЬ/ОТКЛЮЧИТЬ РАБОТУ ФАЙЛОВ КУКИ?</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt; '>4.1. Общие положения</span></b>
            </p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>При входе на Сайт Пользователь
предоставляет свое согласие на использование Сайтом Файлов куки следующим
образом:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><i><span
                    lang=RU style='font-size:12.0pt; '>при входе на веб-сайт через
всплывающее окно, в котором пользователю требуется нажать &quot;согласен&quot;</span></i></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Каждый Пользователь в любой момент может
отключить работу Файлов куки на устройстве, с которого совершается вход на
Сайт, и/или удалить уже загруженные ранее Файлы куки на устройство. Если
Пользователь не желает отключать работу Файлов куки и/или удалять ранее
загруженные Файлы куки, никакие дополнительные действия не требуются от
Пользователя в данном случае.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Обращаем внимание, что Правообладатель
делает все возможное для того, чтоб использование Сайта было доступно
Пользователю без загрузки каких-либо Файлов куки. Однако, Правообладатель не
гарантирует, что такие Файлы куки не будут загружаться вовсе, ввиду технических
и функциональных особенностей Сайта.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Файлы куки могут храниться на устройстве
Пользователя от нескольких часов до нескольких дней или лет, в зависимости от
типа загруженных/используемых Файлов куки.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt; '>4.2. Порядок отключения файлов куки</span></b>
            </p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Пользователь имеет возможность отключить
работу Файлов куки на Сайте посредством выполнения следующих действий:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><i><span
                    lang=RU style='font-size:12.0pt; '>________</span></i></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt; '>Пользователь также может отключить работу
Файлов куки и/или удалить их вовсе, путем изменения настроек своего браузера
(при этом возможно также удаление/отключение файлов куки, установленных другими
веб-сайтами):</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(1)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> Для <i>Google Chrome</i>, необходимо
изменить параметры и конфигурацию браузера согласно следующим инструкциям по
ссылке:
https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=ru.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(2)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> Для <i>Firefox</i>, необходимо изменить
параметры и конфигурацию браузера согласно следующим инструкциям по ссылке:
https://support.mozilla.org/ru/kb/uluchshennaya-zashita-ot-otslezhivaniya-v-firefox-?redirectlocale=en-US&amp;redirectslug=enable-and-disable-cookies-website-preferences.</span>
            </p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(3)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> Для <i>Internet Explorer</i>, необходимо
изменить параметры и конфигурацию браузера согласно следующим инструкциям по
ссылке:
https://support.microsoft.com/ru-ru/help/17442/windows-internet-explorer-delete-manage-cookies.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt; '>(4)</span></b><span lang=RU
                                                                           style='font-size:12.0pt; '> Для <i>Safari</i>, необходимо изменить
параметры и конфигурацию браузера согласно следующим инструкциям по ссылке:
https://support.apple.com/ru-ru/guide/safari/sfri11471/mac.</span></p>

        </div>

    </div>
    <div class=WordSection1>

    </div>

</div>
{% endblock %}