{% extends 'base.html' %}

{% block css_connect %}
<link href="/app/static/css/create/toast.css" rel="stylesheet">
<link href="/static/css/main/index.css" rel="stylesheet">
<script src="/app/static/js/toast.js"></script>
{% endblock %}

{% block title %}SomethinK | policy{% endblock %}

{% block content %}
<div class="section_content">
    <h1 class="policy_header">Политика конфиденциальности</h1>

    <div class="policy policy_text">
        <div>
            

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>1. ОПРЕДЕЛЕНИЕ ПОНЯТИЙ</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>&quot;<b>Закон</b>&quot; означает
Федеральный закон Российской Федерации &quot;О персональных данных&quot; со
всеми изменениями и дополнениями, а также иные законодательные акты Российской
Федерации.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>&quot;<b>Сайт</b>&quot; означает
информационную единицу в Интернете, ресурс из веб-страниц (документов), которые
объединены общей темой и связаны между друг с другом с помощью ссылок. Он
зарегистрирован на Правообладателя и обязательно привязан к конкретному домену,
являющемуся его адресом. Настоящая Политика разработана для следующего сайта:
https://somethinkbots.ru</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>&quot;<b>Персональные данные</b>&quot;
означает совокупность личных данных и/или неперсонифицированной информации о
Пользователе, предоставляемую им самим Правообладателю и/или автоматически
собираемую Правообладателем и/или третьими лицами.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>&quot;<b>Политика</b>&quot; означает настоящею
Политику конфиденциальности для веб-сайта (со всеми существующими дополнениями
и изменениями).</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>&quot;<b>Пользователь</b>&quot; означает
юридическое или физическое лицо, которое пользуется Сайтом и/или получило к
нему доступ с какого-либо устройства.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>&quot;<b>Пользовательское соглашение</b>&quot;
означает соглашение, заключаемое между Правообладателем и Пользователем в
отношении порядка, правил и особенностей использования Сайта. Пользователь
присоединяется к такому соглашению и не имеет права вносить и/или требовать
внесения в него каких-либо изменений или дополнений.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>&quot;<b>Правообладатель</b>&quot;
означает следующее лицо, на имя которого зарегистрирован Сайт:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><i><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>Глазунов Павел Сергеевич          &nbsp;<br>
Адрес: г. Москва       &nbsp;<br>
Контактные данные: somethinkbots@gmail.com</span></i></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>&quot;<b>Файлы куки</b>&quot; означает
небольшие файлы, отправляемые каким-либо сайтом, и размещаемые на компьютерах,
смартфонах, планшетах, часах и других мобильных устройствах Пользователя, для
улучшения работы сайтов, а также качества размещенного в них контента.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'><br>
<br>
2. ОТНОШЕНИЯ, НА КОТОРЫЕ РАСПРОСТРАНЯЕТСЯ ПОЛИТИКА</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Общие положения</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Данная Политика используется и применима
исключительно к Персональным данным, получаемым от Пользователя в связи с
использованием им Сайта. Положения данной Политики направлены на:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(1)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> определение видов и типов получаемых
Персональных данных, направлений и целей использования (обработки) Персональных
данных, а также источников получения таких Персональных данных; и</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(2)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> определение прав Пользователя в отношении
защиты конфиденциальности передаваемых им Персональных данных; и</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(3)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> определение лиц, ответственных за
обработку и хранение Персональных данных, а также третьих лиц, которым такие
данные раскрываются (полностью или частично).</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Правила настоящей Политики не применяются
в случае обработки третьими лицами Персональных данных, которые добровольно
предоставляются Пользователем.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Посредством использования Сайта
Пользователь соглашается с условиями данной Политики и дает свое согласие
Правообладателю на сбор, обработку, удержание и хранение Персональных данных в
порядке и на условиях, предусмотренных настоящей Политикой.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Если Пользователь не согласен с условиями
Политики и/или отдельные условия Политики ему не понятны, в таком случае
Пользователь обязан немедленно прекратить использование Сайта.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Права пользователя по защите персональных
данных</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>В связи с предоставлением Персональных
данных Пользователь автоматически получает следующие права:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(1)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> получать данные, касающиеся их обработки
(основания и цели такой обработки, применяемые способы обработки, сведения о
лицах, которые имеют доступ к ним или которым они могут быть раскрыты на
основании договора или Закона).</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(2)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> получать данные о месте нахождения и
идентификационных данных лиц, совершающих обработку Персональных данных.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(3)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> получать данные о сроках хранения
Персональных данных.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(4)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> получать данные об осуществленной или о
предполагаемой трансграничной передаче Персональных данных.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(5)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> обжаловать действия или бездействие
Правообладателя в уполномоченный орган по защите прав субъектов персональных
данных или в судебном порядке.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(6)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> получать возмещение убытков и/или
компенсацию морального вреда в судебном порядке в следствие допущенных
Правообладателем и/или третьими лицами нарушений прав Пользователя на охрану и
защиту его Персональных данных.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(7)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> реализовывать иные права в области защиты
персональных данных, предусмотренные Законом или положениями данной Политики.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'><br>
<br>
3. ПЕРЕЧЕНЬ СОБИРАЕМЫХ ПЕРСОНАЛЬНЫХ ДАННЫХ</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Неперсонифицированная информация о
пользователях</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>В связи с использованием Сайта
Правообладатель может автоматически собирать и обрабатывать следующею
неперсонифицированную информацию о Пользователе:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(1)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> информацию о трафике, возможном
количестве совершенных кликов, логи и другие данные.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(2)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> информацию об устройстве
(идентификационный номер устройства, с которого выполняется вход, операционная
система, платформа, тип браузера и другая информация о браузере, IP адрес).</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Личные данные о пользователях</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Правообладатель не собирает какие-либо
личные данные о Пользователях, которые позволяют его идентифицировать.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Использование Captcha</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>В Сайт интегрирована Captcha, которая
представляет собой разновидность Файлов куки, целью которых в данном случае
является <b>(1)</b> защита Пользователя от возможного спама, поступающего от
третьих лиц в сети Интернет, а также от иного нерелевантного и/или запрещенного
контента, и <b>(2)</b> идентификация Пользователя с целью его отличия от
ботов/роботов, и <b>(3)</b> улучшение возможностей Пользователя в пользовании
контентом Сайта.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Вход на сайт позволяет Captcha
автоматически получать доступ и производить сбор следующей информации:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(1)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> Файлы куки, установленные в браузере в
течение последних <i>6 (шести) месяцев</i>; и/или</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(2)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> количество кликов, совершенных
Пользователем; и/или</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(3)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> информация о стилизации веб-странцы;
и/или</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(4)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> языковые настройки браузера; и/или</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(5)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> плагины, установленные в браузере
Пользователя; и/или</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(6)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> все объекты Javascript.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Использование файлов куки</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Сайт применяет определенные Файлы куки для
сохранения IP-адреса, предпочтений Пользователей или типа используемого
устройства с целью <b>(1)</b> ведения статистики посещений и трафика сайта, и <b>(2)</b>
персонализации выводимых на экран Пользователя данных, и <b>(3)</b> сохранения
данных, необходимых для идентификации Пользователя, в том числе при доступе с
разных устройств, и <b>(4)</b> показа рекламы в соответствии с интересами и
предпочтениями Пользователя. Сайт может использовать как собственные Файлы
куки, принадлежащие Правообладателю, так и Файлы куки третьих лиц.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Перечень используемых Файлов куки, способ
их взаимодействия с устройством Пользователя, а также вид и объем получаемых
Персональных данных, регулируется отдельной Политикой конфиденциальности
куки-файлов, с которой можно ознакомиться по следующей ссылке:
https://somethinkbots.ru/cookie_policy.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'><br>
<br>
4. ЦЕЛИ СБОРА И ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Определение целей обработки</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Сбор и обработка Персональных данных
осуществляется в следующих целях:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(1)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> для анализа поведения Пользователя, а
также выявления предпочтений Пользователя к определенному виду контента.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(2)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> для оперативной и корректной работы
Сайта, улучшения его функциональности и и контента.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(3)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> для идентификации Пользователя.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(4)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> для соблюдения требований Закона.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(5)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> для технической поддержки Сайта,
выявления проблем в его работе и их устранение.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(6)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> для поддержания связи с Пользователем
(коммуникация).</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(7)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> для выполнения иных обязательств
Правообладателя, которые возникли перед Пользователем.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>(8)</span></b><span lang=RU
                                                                                     style='font-size:12.0pt;color: #c3c5d0;'> для любых других целей, при условии
получения отдельного согласия от Пользователя.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Обработка Персональных данных
осуществляется на основе принципов: <b>(1)</b> законности целей и способов
обработки; и <b>(2)</b> добросовестности; и <b>(3)</b> соответствия целей
обработки Персональных данных целям, заранее определенным и заявленным при
сборе таких Персональных данных; и <b>(4)</b> соответствия объема и характера
обрабатываемых Персональных данных заявленным целям их обработки.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Условия обработки персональных данных</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Обработка Персональных данных проводится в
случаях: <b>(1)</b> получения согласия от Пользователя; или <b>(2)</b>
достижения Правообладателем целей, предусмотренных международным договором или
Законом; или <b>(3)</b> предоставления Пользователем своих Персональных данных
неограниченному кругу лицу; или <b>(4)</b> выполнения иных обязательств
Правообладателя перед Пользователем, включая, однако не ограничиваясь,
предоставление определенного контента Пользователю; или <b>(5)</b> спасения
жизни или здоровья Пользователя, когда согласие на обработку его Персональных
данных не удается получить заблаговременно.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>В случае обезличивания Персональных
данных, что не позволяет прямо или опосредованно определить Пользователя,
последующее использование и раскрытие таких данных третьим лицам допускается и
в отношении их более не применяются правила данной Политики.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Правообладатель принимает все возможные
меры для защиты конфиденциальности полученных Персональных данных, за
исключением случаев, когда Пользователь сделал такие данные общедоступными.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Обработка Персональных данных
осуществляется с использованием средств автоматизации и без использования таких
средств автоматизации.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'><br>
<br>
5. ДОСТУП ТРЕТЬИХ ЛИЦ К ПЕРСОНАЛЬНЫМ ДАННЫМ</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Раскрытие персональных данных третьим
лицам</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Правообладатель имеет право раскрывать
Персональные данные <b>(1)</b> своим аффилированным лицам, филиалам и
представительствам, открытым как на территории Российской Федерации, так и на
территории других государств; <b>(2)</b> правопреемникам Правообладателя,
которые возникли в результате его ликвидации, реорганизации или банкротства, и
которые получили исключительные права владения Сайтом; <b>(3)</b> третьим лицам
исключительно для целей оказания получения Пользователем определенного контента
или доступа к нему; <b>(4)</b> третьим лицам, когда Пользователем было дано
согласие на раскрытие, передачу или обработку своих Персональных данных, а
также в иных случаях, прямо предусмотренных Законом или данной Политикой.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Правообладатель раскрывает Персональные
данные только в том случае, если <b>(1)</b> уверен, что третьи лица будут
соблюдать условия данной Политики и предпринимать такие же меры по защите
конфиденциальности Персональных данных, которые предпринимает сам
Правообладатель, и <b>(2)</b> согласие на такое раскрытие было предварительно
выражено Пользователем и/или допускается на основании Закона.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'><br>
<br>
6. РАЗМЕЩЕНИЕ РЕКЛАМЫ</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Реклама на Сайте</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Правообладатель не размещает рекламу на
Сайте.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'><br>
<br>
7. НАПРАВЛЕНИЕ ЖАЛОБ И ЗАПРОСОВ ПРАВООБЛАДАТЕЛЮ</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Требование о прекращении обработки
персональных данных</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Каждый Пользователь имеет право выразить
свое возражение Правообладателю против обработки и/или хранения его
Персональных данных. Такое возражение может быть выражено следующим образом:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><i><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>Запрос должен быть направлен
Правообладателю на следующий адрес:   &nbsp;<br>
somethinkbots@gmail.com   &nbsp;<br>
или по ссылке: &nbsp;<br>
https://t.me/SomethinKsupportBot</span></i></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Запрос на получение информации о
персональных данных</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Если у Пользователя возникают вопросы,
связанные с порядком применения или использования настоящий Политики, порядком
и/или способом обработки Персональных данных, Пользователь может задать такой
вопрос следующим образом:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><i><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>Вопрос должен быть направлен Правообладателю
на следующий адрес:   &nbsp;<br>
somethinkbots@gmail.com   &nbsp;<br>
или по ссылке: &nbsp;<br>
https://t.me/SomethinKsupportBot</span></i></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Изменение (обновление, дополнение,
корректировка) или удалении персональных данных</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Пользователь имеет право в любой момент
самостоятельно изменить или удалить свои Персональные данные, за исключением
случаев, когда такое изменение или удаление может привести <b>(1)</b> к
нарушению правил настоящей Политики; или <b>(2)</b> к нарушению Закона; или <b>(3)</b>
характер таких Персональных данных является доказательством в каком-либо
судебном процессе, возникшем между Правообладателем и Пользователем. Для этого
Пользователю требуется удалить свой личный аккаунт (профиль) на Сайте.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Правообладатель имеет право в любой момент
удалить личный аккаунт/профиль Пользователя, а также все Персональные данные о
Пользователе, если он нарушил условия данной Политики и/или Пользовательского
соглашения.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'><br>
<br>
8. СРОКИ И ПОРЯДОК ХРАНЕНИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Хранение осуществляется самостоятельно
Правообладателем.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Хранение осуществляется в течение всего
срока использования Пользователем Сайта.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'><br>
<br>
9. ДОСТУП НЕСОВЕРШЕННОЛЕТНИХ К САЙТУ</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Сайт может быть использовано лицами в
возрасте до 18 лет. Поскольку Сайт не собирает личные данные о Пользователях,
согласие на обработку Личных данных несовершеннолетних Пользователей не
требуется.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Если несовершеннолетний Пользователь не
может предоставить согласие на обработку его Персональных данных от законного
представителя (опекуна), в таком случае такой Пользователь обязан немедленно
прекратить использование Сайта.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'><br>
<br>
10. ПОРЯДОК ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Защита конфиденциальности Персональных
данных является первостепенной и важной задачей для Правообладателя.
Правообладатель придерживается всех требуемых международных стандартов, правил
и рекомендаций по защите Персональных данных.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Правообладатель внедрил ряд технических и
организационных методов, направленных на защиту Персональных данных от
разглашения или несанкционированного доступа к ним третьих лиц.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><b><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'><br>
<br>
11. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Доступность текста политики для
ознакомления</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Пользователи могут ознакомиться с
условиями данной Политики по следующей ссылке:
https://somethinkbots.ru/privacy.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Данная редакция Политики действует от 28
июля 2023 годa.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Изменение и дополнение политики</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Настоящая Политика может быть изменена
время от времени. Правообладатель не несет какой-либо ответственности перед
Пользователем за изменение условий данной Политики без разрешения и/или
согласия Пользователя.</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Пользователь сам обязуется на регулярной
основе проверять положения данной Политики на предмет ее возможного изменения
или дополнения. Однако, в случае существенного изменения условий данной
Политики, Правообладатель обязуется уведомить Пользователей следующим способом:</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:22.5pt;text-align:justify;line-height:normal'><i><span
                    lang=RU style='font-size:12.0pt;color: #c3c5d0;'>автоматическая рассылка всем
пользователям на электронный адрес, указанный при регистрации профиля на сайте</span></i></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Применимое законодательство</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Настоящая Политика разработана в
соответствие с действующим законодательством о защите персональных данных
Российской Федерации, в частности, с нормами Федерального закона от 27 июля
2006 года № 152-ФЗ &quot;О персональных данных&quot; (со всеми дополнениями и
изменениями), Федерального закона от 21 июля 2014 года № 242-ФЗ &quot;О
внесении изменений в отдельные законодательные акты Российской Федерации в
части уточнения порядка обработки персональных данных в
информационно-телекоммуникационных сетях&quot; (со всеми дополнениями и
изменениями).</span></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><b><span lang=RU
                                                                       style='font-size:12.0pt;color: #c3c5d0;'>Риск разглашения</span></b></p>

            <p class=MsoNormal style='margin-top:12.0pt;margin-right:0cm;margin-bottom:
12.0pt;margin-left:0cm;text-align:justify;line-height:normal'><span lang=RU
                                                                    style='font-size:12.0pt;color: #c3c5d0;'>Вне зависимости от предпринимаемых
Правообладателем мер защиты конфиденциальности получаемых персональных данных,
Пользователь настоящим считается должным образом ознакомлен с тем, что любая
передача Персональных данных в сети Интернет не может быть гарантировано
безопасной, а потому Пользователь осуществляет такую передачу на свой
собственный риск.</span></p>

        </div>
    </div>

</div>


{% endblock %}