{% extends "base.html" %}

{% block css_connect %}
<link href="/static/css/create/toast.css" rel="stylesheet">
<link href="/static/css/main/index.css" rel="stylesheet">
<script src="/static/js/toast.js"></script>
{% endblock %}

{% block content %}

<div class="user_page_content">
    <section class="section" style="margin-top: 5vw">
        <div class="section_header">
            <div class="line" style="width: 17vw"></div>
            <div class="section_name">ваши боты</div>

        </div>

        <div class="overlay hidden" id="overlay"></div>

        <div class="bots_block">
            <div class="modal hidden" id="modal">
                <div class="modal_text_block">
                    <h3 class="modal_header">удалить бота?</h3>
                    <p class="remove_bot_text" id="modal_text"></p>
                </div>

                <div id="I_really_want_to_remove_this_cool_bot_button" class="I_really_want_to_remove_this_cool_bot">
                    удалить бота
                </div>
            </div>

            {% for el in data.user_project %}
            <div class="project" id="project_{{ el.id }}">
                <p class="bot_name">{{ el.name }}</p>
                <div class="bots_buttons">
                    <div class="project_buttons bot_edit_button" id="bot_edit_button_{{ el.id }}">редактировать</div>
                    <div class="project_buttons bot_download_button" id="bot_download_button_{{ el.id }}"
                         project_name="{{ el.name }}">скачать
                    </div>
                    <div class="red_button bot_remove_button" project_name="{{ el.name }}"
                         style="height: 2vw; width: max-content;"
                         id="bot_remove_button_{{ el.id }}">удалить
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </section>
    <div class="logout_footer">
        <div class="buttons_block">
            <a href="/create/token" class="green_button logout_button">создать бота</a>

            {% if data.auth_with_discord %}
            <div class="red_button remove_account_button" id="disconnect_discord">отключить Discord</div>
            {% else %}
            <a href="{{ data.redirect_oauth_url }}" class="green_button logout_button">привязать Discord</a>
            {% endif %}
            <a href="/auth/logout" class="red_button logout_button">выйти из аккаунта</a>

            <div class="red_button remove_account_button" id="remove_account :(">удалить аккаунт</div>
        </div>
        <div class="forms_block hidden" id="form_block">
            <p class="texts" style="font-size: 1vw; max-width: 17vw">Для удаления аккаунта введите код, который пришел
                на почту</p>
            <input class="red_input" type="text" placeholder="Код" id="code_input">
        </div>

        <div class="forms_block hidden" id="remove_account_button_form">
            <div class="remove_account red_button" id="really_remove_account_button">
                удалить
            </div>
        </div>

    </div>
</div>


<script>
    async function send_request(url, headers = {}) {
        headers["Content-Type"] = "application/json"
        const response = await fetch(url, {
            method: "POST",
            mode: "cors",
            cache: "no-cache",
            credentials: "same-origin",
            headers: headers,
            redirect: "follow",
            referrerPolicy: "no-referrer",
        })
        if (response.status === 429) {
            danger("Слишком много запросов в минуту")
            return 0
        }

        return response

    }

    const closeModal = function () {
        modal.classList.add("hidden")
        overlay.classList.add("hidden")
    }

    const modal_text = document.getElementById("modal_text")
    const modal = document.getElementById("modal");
    const overlay = document.getElementById("overlay");

    overlay.addEventListener("click", closeModal);


    const project_edit_buttons = document.getElementsByClassName("bot_edit_button")
    for (let i of project_edit_buttons) {
        i.addEventListener("click", () => {
            const button_id = i.id

            send_request("../api/edit", {"project_id": button_id})

            window.location.href = "http://127.0.0.1:8080/create/moderation"
        })
    }

    const project_remove_buttons = document.getElementsByClassName("bot_remove_button")
    let selected_bot_id
    for (let i of project_remove_buttons) {
        i.addEventListener("click", function () {
            selected_bot_id = i.id

            let name = i.getAttribute("project_name")
            modal_text.textContent = "Вы уверены, что хотите удалить бота " + name + "?"

            modal.classList.remove("hidden");
            overlay.classList.remove("hidden");
        })
    }

    document.getElementById("I_really_want_to_remove_this_cool_bot_button").addEventListener("click", function () {
        send_request("../api/remove", {"project_id": selected_bot_id})

        closeModal()

        const removed = document.getElementById("project_" + selected_bot_id.split("_")[3])
        removed.remove()

        successText("Бот успешно удален")

    })

    const project_download_buttons = document.getElementsByClassName("bot_download_button")
    for (let i of project_download_buttons) {
        i.addEventListener("click", async function () {
            let button_id = i.id
            let project_name = i.getAttribute("project_name")

            const response = await send_request("../api/download", {"project_id": button_id})

            if (!response) {
                return
            }
            const blob = await response.blob();

            if (blob.type === "application/json") {
                const json = await blob.text();
                const data = JSON.parse(json);

                if (data.status !== "ok") {
                    danger(data.message);
                    return 0;
                }
            } else {
                const url = URL.createObjectURL(blob)

                const link = document.createElement("a")
                link.href = url
                link.download = project_name + ".zip"
                document.body.appendChild(link)

                link.click()

                document.body.removeChild(link);

                URL.revokeObjectURL(url);
            }


        })
    }

    const disconnect_discord = document.getElementById("disconnect_discord")
    if (disconnect_discord) {
        disconnect_discord.addEventListener("click", async () => {
            const response = await send_request("../api/disconnect_discord")

            if (!response) {
                return
            }
            const answer = await response.json()

            if (answer["status"] !== "ok") {
                danger(answer["message"])
                return 0
            }

            window.location.reload()

            successText("Discord отключен")
        })
    }

    const remove_account_button = document.getElementById("remove_account :(")
    const code_form = document.getElementById("form_block")
    const code_input = document.getElementById("code_input")
    const remove_account_button_form = document.getElementById("remove_account_button_form")
    const really_remove_account_button = document.getElementById("really_remove_account_button")

    console.log(code_form)
    remove_account_button.addEventListener("click", async () => {

        if (!code_form.classList.contains("hidden")) {
            code_form.classList.add("hidden")
            remove_account_button_form.classList.add("hidden")
            return
        }
        code_form.classList.remove("hidden")


        const response = await send_request("../api/send_code", {"remove_account": "{{ current_user.email }}"})

        if (!response) {
            return
        }
        const answer = await response.json()

        if (answer["status"] !== "ok") {
            danger(answer["message"])
            return 0
        }
    })

    code_input.addEventListener("input", async () => {
        let value = code_input.value

        if (value.length !== 6) {
            remove_account_button_form.classList.add("hidden")
            return 0
        }
        remove_account_button_form.classList.remove("hidden")


    })

    really_remove_account_button.addEventListener("click", async () => {
        let value = code_input.value
        const response = await send_request("../api/confirm_code", {
            "remove_account": "{{ current_user.email }}",
            "code": value
        })
        if (!response) {
            return 0
        }

        const answer = await response.json()

        if (answer["status"] !== "ok") {
            danger(answer["message"])
            return 0
        }
        window.location.href = "http://127.0.0.1:8080/" // TODO поменять url
    })

    // const modal_header_text = document.getElementById("modal_text")


    // let name = i.getAttribute("project_name")
    // modal_header_text.textContent = "Вы уверены, что хотите безвозвратно удалить аккаунт? Все боты будут утерян " + name + "?"
    //
    // modal.classList.remove("hidden");
    // overlay.classList.remove("hidden");
    // document.getElementById("remove_account :(").addEventListener("click", async () => {
    //     const response = await fetch("../api/send", {
    //         method: "POST",
    //         mode: "cors",
    //         cache: "no-cache",
    //         credentials: "same-origin",
    //         headers: {
    //             "Content-Type": "application/json",
    //         },
    //         redirect: "follow",
    //         referrerPolicy: "no-referrer",
    //
    //
    //     })
    //     if (response.status === 429) {
    //         danger("Слишком много запросов в минуту")
    //         return 0
    //     }
    //
    //     const answer = await response.json()
    //
    //     if (answer["status"] !== "ok") {
    //         danger(answer["message"])
    //         return 0
    //     }
    //
    //     window.location.reload()
    //
    //
    // })


</script>
<!--профиль номер: {{data}}-->
<!--<a href="/auth/logout">выйти</a>-->
{% endblock %}