{% extends "create/create_base.html" %}

{% block css_connect %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create/create_bot.css')}}">
{% endblock %}

{% block title %}Создать!{% endblock %}

{% block content %}

<div class="content">
    <div class="data_block">



        <div class="data_header">
            <p class="text">введите имя проекта, под которым будет сохранен бот</p>
            <input type="text" placeholder="Имя проекта" id="_input_project_name" class="select_roles">
        </div>
        <button id="save_btn" class="btn_save"><label>создать</label></button>

    </div>
    <div class="text">
        <h1>важно</h1>
        <p>После скачивания кода, необходимо разместить бота на хостинге, чтобы он мог работать 24/7. </p>
        <p>К сожалению, мы не можем позволить себе хостить ботов пользователей, но для вашего удобства приводим <a style="color: #959CEC; text-decoration: none" target="_blank" href="https://ad.sparkedhost.marketing/?campaign=Somethinkbots">сервис</a>, на которых вы сможете разместить вашего бота</p>
    </div>

</div>

<script src="/static/js/createJS/create_bot.js"></script>
{% endblock %}