{% extends "create/create_base.html" %}

{% block css_connect %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create/moderation.css')}}">
{% endblock %}


{% block content %}
<div class="content">
    <div class="data" id="data_block_AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA">
        <p class="text_block">В этом разделе Вы можете добавить основные команды модерации и автомодерации. </p>

        <div class="sticky_block">
            <div class="block" id="configurator"  style="max-width: 30vw; margin-bottom: 2vw; padding-bottom: 1vw">
                <p class="about_configurator">В этом блоке вы сможете настроить необходимые команды</p>
                <p class="about_configurator">Данный блок не является обязательным для заполнения</p>
                <p class="about_configurator">Если вы не заполните поля связанные с ролями или каналами, к ним автоматически будет применено значение "все"</p>
                <p class="about_configurator">Если вы не заполните поле "описание", в команде будет установлено базовое значение (указано в заголовке каждой команды)</p>
                <p class="about_configurator"><span style="color: #dc3545">*</span> - обязательно для заполнения</p>
            </div>
            <div class="base_roles_block">
                <div class="base_roles_row">

                    <div class="base_role_input_without_help_button">
                        {% if auth_with_discord %}
                        <select class="select_roles" id="base_role_input">
                            <option value="-1">Владелец сервера</option>
                            {% for role in roles %}
                            <option value="{{ role[0] }}">{{ role[1] }}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <input type="text" class="select_roles" id="base_role_input" placeholder=" ID роли">
                        {% endif %}
                        <button class="add_role_btn" id="add_base_role_button" style="margin-right: 1vw">+</button>
                    </div>

                    <div class="add_role_btn" id="help_button"></div>
                </div>
            </div>
            <div class="buttons">
                <button class="btn_save" id="another_save_btn">сохранить</button>
                <button class="btn_reset" id="another_reset_btn">сбросить</button>
            </div>
        </div>
    </div>


    <div class="functions">
        <div class="block" >
            <p class="block_header">основные команды</p>
            <div class="block_content"  id="main_command"></div>

        </div>
        <div class="block">
            <p class="block_header">дополнительные команды</p>
            <div class="block_content"  id="another_command"></div>

        </div>

        <div class="block">
            <p class="block_header">автомодерация</p>
            <div class="block_content"  id="auto_moderation"></div>

        </div>
    </div>


</div>
<!--<script>-->
<!--    window.onscroll = function (e) {-->
<!--        // console.log(document.body.scroll)-->
<!--        let _data = document.getElementById("data_block_AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA")-->
<!--        let _data_pos = _data.getBoundingClientRect()-->
<!--        console.log(_data_pos.y)-->

<!--        if (_data_pos.y < 0) {-->
<!--            _data.style.marginTop = Math.abs(0.0 - _data_pos.y) + "px"-->
<!--            return 0-->
<!--            // _data.st = 0-->
<!--        }-->
<!--        _data.style.marginTop = "0"-->
<!--        // if (document.documentElement.clientHeight)//ie-->
<!--        //     vertical_position = document.documentElement.scrollTop;-->
<!--        // else if (document.body)//ie quirks-->
<!--        //     vertical_position = document.body.scrollTop;-->
<!--        //-->
<!--        // var your_div = document.getElementById('some_div');-->
<!--        // your_div.style.top = (vertical_position + 200) + 'px';//200 is arbitrary.. just to show you could now position it how you want-->
<!--    }-->
<!--</script>-->

<script src="/static/js/createJS/moderation.js"></script>



{% endblock %}