{% extends "create/create_base.html" %}

{% block css_connect %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create/roles.css')}}">

{% endblock %}

{% block title %}Роли{% endblock %}
{% block content %}

<div class="content_">
    <div class="data">
        <div class="block" style="margin-bottom: 2vw; max-width: 45vw;
">

            <p class="block_header">авто-выдача ролей</p>

            <div class="block_content" id="roles_content">
                <div class="loading" style="margin-top: 1vw"></div>

            </div>


        </div>
        <div class="buttons" style="max-width: max-content">
            <button class="btn_save" style="margin-right: 1vw" id="save_btn">сохранить</button>
            <button class="btn_reset" id="reset_btn">сбросить</button>
        </div>
    </div>

    <div class="text">
        <p>В этом разделе Вы можете автоматизировать выдачу ролей</p>

        <p style="margin-top: 2vw">используйте роли активности, чтобы автоматически выделять в группы участников, с
            одинаковыми занятиями
            (все роли будут созданы автоматически)</p>

        <div id="configurator_parent" style="margin-top: 1vw"></div>
    </div>

</div>


<script src="/static/js/createJS/roles.js"></script>
{% endblock %}