{% extends "create/create_base.html" %}

{% block css_connect %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create/moderation.css')}}">
<script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}" type="text/javascript"></script>

{% endblock %}

{% block content %}
<!--<div class="content">-->

<!--    <div class="buttons-container">-->
<!--        <button class="toggle-button">Button One</button>-->
<!--        <div class="form-container">-->
<!--            <form>-->
<!--                <input type="text" placeholder="Enter your Name">-->
<!--                <input type="text" placeholder="Enter your Marks">-->
<!--                <button type="submit">Submit</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="buttons-container">-->
<!--        <button class="toggle-button">Button Two</button>-->
<!--        <div class="form-container">-->
<!--            <form>-->
<!--                <input type="text" placeholder="Enter your Name">-->
<!--                <input type="text" placeholder="Enter your Marks">-->
<!--                <button type="submit">Submit</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="buttons-container">-->
<!--        <button class="toggle-button">Button One</button>-->
<!--        <div class="form-container">-->
<!--            <form>-->
<!--                <input type="text" placeholder="Enter your Name">-->
<!--                <input type="text" placeholder="Enter your Marks">-->
<!--                <button type="submit">Submit</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="buttons-container">-->
<!--        <button class="toggle-button">Button Two</button>-->
<!--        <div class="form-container">-->
<!--            <form>-->
<!--                <input type="text" placeholder="Enter your Name">-->
<!--                <input type="text" placeholder="Enter your Marks">-->
<!--                <button type="submit">Submit</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--<div class="content">-->

<!--    <div class="form__block">-->


<!--        {% for el in commands %}-->


<!--        <div class="buttons-container">-->
<!--            <button class="toggle-button">{{ el }} <br> <span style="font-size: 80%"> {{ commands[el] }} </span></button>-->
<!--            <div class="form-container" data-modal-id="{{ el }}" id=el>-->

<!--                <form action="" method="post" class="form" id="form_{{ el }}">-->

<!--                    {{ form.hidden_tag() }}-->

<!--                    <p>Триггер команды: </p>-->
<!--                    {{ form.trigger(class="form-control", value=el, id=el) }}<br>-->
<!--                    {% for error in form.trigger.errors %}-->

<!--                    {% endfor %}-->

<!--                    <p>Описание команды: </p>-->
<!--                    {{ form.description(class="form-control", placeholder="описание") }}-->
<!--                    {% for error in form.description.errors %}-->
<!--                    {% endfor %}-->

<!--                    {{ form.form_id(value=el) }}-->

<!--                    {{ form.save(type="submit", class="theme_button color1") }}-->

<!--                    <div>{{ message }}</div>-->

<!--                </form>-->

<!--            </div>-->
<!--        </div>-->


<!--        {% endfor %}-->

<!--    </div>-->
<!--</div>-->

<script type="text/javascript">
    const buttons = document.querySelectorAll('.toggle-button');

    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            const formContainer = button.nextElementSibling;

            formContainer.classList.toggle('active');
        });
    });
</script>
{% endblock %}
