{% extends "create/create_base.html" %}

{% block css_connect %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create/settings.css')}}">
{% endblock %}

{% block title %}Настройки{% endblock %}
{% block content %}

<div class="content">
    <div class="functions">
        <div class="block" style="min-width: 44vw; margin-bottom: 1vw">
            <p class="block_header" style="min-width: 44vw">настройки</p>
            <div class="loading" style="margin-top: 1vw"></div>

            <div class="block_content" id="settings">

            </div>

        </div>
        <div class="buttons" style="margin: 0; display: flex; justify-content: start">
            <button class="btn_save" id="save_btn" style="margin-right: 1vw">сохранить</button>
            <button class="btn_reset" id="reset_btn">сбросить</button>
        </div>
    </div>
</div>


<script src="/static/js/createJS/settings.js"></script>
{% endblock %}