{% extends "create/create_base.html" %}

{% block css_connect %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create/sm.css')}}">
{% endblock %}

{% block title %}Социальные сети.юдьо{% endblock %}
{% block content %}
<div class="content____">
    <div class="sm_content">
        <p class="text">Получайте уведомления, когда автор канала публикует новое видео</p>
        <div class="blocks" id="youtube_blocks">
            <div class="loading" style="margin-top: 1vw"></div>

        </div>
        <div class="footer" id="youtube_footer">

            <div class="_">
                <button class="add_role_btn" id="add_youtube_block" style="margin-right: 1vw; border-color: #C4302B">+
                </button>
                <p class="counter" id="youtube_counter"></p>
            </div>

        </div>


    </div>
    <div class="sm_content">
        <p class="text">Получайте уведомления, когда автор канала начинает прямую трансляцию</p>
        <div class="blocks" id="twitch_blocks">
            <div class="loading" style="margin-top: 1vw"></div>

        </div>
        <div class="footer" id="twitch_footer">
            <div class="_">
                <button class="add_role_btn" id="add_twitch_block" style="margin-right: 1vw; border-color: #6441A5">+
                </button>
                <p class="counter" id="twitch_counter"></p>
            </div>
        </div>


    </div>

</div>
<div class="content_footer">

    <div class="buttons" style="width: 30vw; justify-content: flex-start; margin: 0 0 0 15vw">
        <button class="btn_save" style="margin-right: 1vw" id="save_btn">сохранить</button>
        <button class="btn_reset" id="reset_btn">сбросить</button>
    </div>
</div>


<script src="/static/js/createJS/social_media.js"></script>

{% endblock %}