<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block css_connect %}
    {% endblock %}

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<noscript>
    <p>включите js</p>
</noscript>
<header>
    <div class="header">
        <div>
            {% if current_user.is_authenticated %}
            <a class="header-text header_text_border_right" href="/user/{{ current_user.id }}">{{ current_user.name }}</a>
            {% else %}
            <a class="main_login_btn header-text header_text_border_right" href="/auth">войти</a>
            {% endif %}
        </div>

        <div class="header_right_texts">
            <a class="header-text header_text_border_left" href="https://www.donationalerts.com/r/somethinkbots" target="_blank">Поддержать проект</a>
            <a class="header-text header_text_border_left" href="https://t.me/SomethinKsupportBot" target="_blank">Техподдержка</a>
            <a class="header-text header_text_border_left" style="color: #00FC0A" href="/">SomethinK</a>
        </div>
    </div>
</header>
{% block content %}

{% endblock %}
</body>
</html>